.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);

  background-color: var(--color-secondary-300);

  padding: var(--space-2) var(--space-3);
}

.backButton {
  position: relative;
  border: none;
  background: transparent;
}

.icon {
  width: 30px;
  height: 30px;

  transform: rotate(180deg);
}