.timePeriod {
  position: relative;
  text-align: center;
}

.text {
  font-size: var(--size-m);
  font-weight: 500;
  line-height: 1.5;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}

.arrowLeft {
  left: 8px;
  transform: rotate(180deg) translateY(50%);
}

.arrowRight {
  right: 8px;

  &.isLastPeriod {
    visibility: hidden;
  }
}
