.category {
  padding: var(--space-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 8px;
}

.active {
  &.variantDefault {
    background-color: var(--color-default-50);
    box-shadow:
      rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  &.variantFilled {
    background-color: var(--color);
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--color);
  border-radius: 50%;
}

.icon {
  width: 40px;
  height: 40px;
}

.name {
  margin-top: var(--space-1);
  text-align: center;
  font-size: var(--size-xs);
  overflow: hidden;
  white-space: nowrap;

  color: var(--color-foreground);
}

.sizeS {
  .iconWrapper {
    width: 30px;
    height: 30px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
