.item {
  padding: var(--space-2);

  background-color: var(--color-default-50);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  align-items: center;
  gap: var(--space-2);

  color: var(--color-foreground);
  font-size: var(--size-s);
}

.category {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  gap: var(--space-2);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icon {
  width: 20px;
  height: 20px;
}

.amount {
  margin-left: auto;
}
