.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  overflow: hidden;

  border: 0;
  outline: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.sizeS {
  height: var(--space-8);
  padding: 0 var(--space-3);
  font-size: var(--size-xs);
  line-height: 1.5;
}

.sizeM {
  height: var(--space-10);
  padding: 0 var(--space-4);
  font-size: var(--size-s);
  line-height: 1.5;
}

.sizeL {
  height: var(--space-12);
  padding: 0 var(--space-6);
  font-size: var(--size-m);
  line-height: 1.5;
}

.variantDefault {
  background-color: var(--color-default);
}

.variantBordered {
  background-color: transparent;
  border: 2px solid var(--color-default);
}

.variantFaded {
  background-color: var(--color-default-100);
  border: 2px solid var(--color-default);
}

.variantLight {
  color: var(--color-foreground);
  background-color: var(--color-background);

  &:hover {
    background-color: var(--color-default-100);
  }
}

.variantReversed {
  color: var(--color-background);
  background-color: var(--color-foreground);
}

.ripple {
  position: absolute;
  background-color: var(--color-default-100);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-effect 1s ease-out;
  pointer-events: none;
  transform: scale(0);
}

@keyframes ripple-effect {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.radiusS {
  border-radius: 8px;
}

.radiusM {
  border-radius: 12px;
}

.radiusL {
  border-radius: 14px;
}

.radiusRound {
  border-radius: 9999px;
}

.radiusCircle {
  border-radius: 50%;
}

.fullWidth {
  width: 100%;
}
