.additional {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
}

.content {
  padding: var(--space-6) var(--space-2);

  font-size: var(--size-m);
}

.list {
  margin-top: var(--space-3);
}
