.wrapper {
  position: relative;
  padding: 16px;
  background-color: var(--color-default-50);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.buttonTabs {
  justify-content: center;

  color: var(--color-default-400);
}

.timePeriod {
  margin-top: var(--space-3);

  color: var(--color-default-700);
}

.expenseChart {
  margin-top: var(--space-3);
}

.add {
  position: absolute;
  bottom: var(--space-6);
  right: var(--space-6);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: gray;
  color: var(--color-white);
  border: none;
  border-radius: 50%;

  width: 40px;
  height: 40px;
}

.plus {
  width: 24px;
  height: 24px;
}
