.categoryCard {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  &.dragging {
    opacity: 0.5;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.popup {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: var(--space-3);
  z-index: 1000;
}
