.main {
  background: var(--color-background);
  padding: var(--space-4) var(--space-2);
  color: var(--color-foreground);
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
